﻿<div class="jumbotron">
    <h1>Quiz - Flags</h1>
    <p class="lead">Aplicação de demonstração.</p>
    <p>
        @Html.ActionLink("Vamos começar!", "Index", "Flags", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            <h4>Alguns recursos utilizados</h4>
        </p>
        <p>
            <ul>
                <li>Visual Studio 2017 - Versão 15.6.4</li>
                <li>.NET Framework 4.6.1</li>
                <li>C#</li>
                <li>Orientação a Objeto</li>
                <li>MVC 5</li>
                <li>Razor</li>
                <li>Web Api</li>
                <li>AngularJs - Para atualização dinâmica de página via AJAX com consulta a Web Api</li>
                <li>Castle Windsor - Para Injeção de dependência</li>
            </ul>
        </p>
    </div>
</div>