﻿@using QuizFlags.Helpers.Html

@{
    ViewBag.Title = "Quiz - Flags";
}
<br /><br />
<h2>Quiz - Flags</h2>
<div ng-app="quizApp" ng-controller="quizController as vm">
    <form name="quizForm">
        <div class="row">
            <div class="col-md-5">
                <span>Bandeira</span>
            </div>
            <div class="col-md-7">
                <span>Países</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                @Html.NgImage(Url.Content("~/Content/flags/{{vm.Quiz.PaisBandeira.Id}}.png"), "Esta bandeira é de que país?", "200")
            </div>
            <div class="col-md-7">
                <a href="#" class="list-group-item list-group-item-action" ng-repeat="pais in vm.Quiz.Paises" ng-click="vm.selecionaPais(pais)"><span ng-bind="pais.Nome"></span></a>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div style="text-align:center">
                <button type="button" class="btn btn-primary" ng-disabled="vm.Quiz.IdResposta==null" ng-click="vm.proximoQuiz(vm.Quiz)">Próximo</button>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/quizController")
}
