﻿@model IEnumerable<QuizFlags.Models.Quiz>

@{

    ViewBag.Title = "Quiz - Resultado";
}
<br /><br />
<h2>Quiz - Resultado</h2>
<div ng-app="quizApp" ng-controller="resultController as vm">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>
                        Resultado
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <span>
                                Bandeira: @Html.DisplayFor(modelItem => item.Indice): Você escolheu: @Html.DisplayFor(modelItem => item.PaisEscolhido.Nome),
                                @if (item.PontosGanhos == 0)
                                {
                                    <text>
                                        e o correto seria: @Html.DisplayFor(modelItem => item.PaisBandeira.Nome) :( - (deixou de ganhar @Html.DisplayFor(modelItem => item.PontosPerdidos) Pontos)
                                    </text>
                                }
                                else
                                {
                                    <text>
                                        e estava correto :) - (ganhou @Html.DisplayFor(modelItem => item.PontosGanhos))
                                    </text>
                                }
                            </span>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <div style="text-align:center">
                <button type="button" class="btn btn-primary" ng-click="vm.enviarResultado($event)">Compartilhar</button>
            </div>
        </div>
        <div class="col-md-3">
            <div style="text-align:center">
                <button type="button" class="btn btn-primary" ng-click="vm.iniciarQuiz()">Reiniciar</button>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/resultController")
}
